.fred {
  border: 1px solid orangered;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

@media screen and {max-width: 600px}{
  .column{
    width: 100%;
  }
}